@import "tailwindcss";

*{
  font-family: poppins;
}

input{
  width: 100%;
  border-radius: 8px;
  padding: 0.8em 1.4em;
  border: solid 1px hsl(0, 0%, 61%);
  font-weight: 500;
}


button{
  width: 100%;
  border-radius: 8px;
  padding: 0.8em 1.4em;
  background-color: hsl(154, 59%, 51%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transition-duration: 900ms;
  transform: scale(0.95);
  transition: transform 0.5s ease-in;
  background-color: hsl(154, 59%, 41%);
}